# In file: Backend/requirements.txt

# Web Framework
fastapi
gunicorn
uvicorn[standard]
python-multipart

# Settings and Data Validation
pydantic[email]
pydantic_settings
python-dotenv

# Authentication & Security
python-jose[cryptography]
passlib[bcrypt]

# Database
pymongo
motor

# Google API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# --- REMOVED: Celery and related workers ---
# celery
# redis
# gevent

# Other Utilities
httpx
zipstream-ng
psutil
# --- REMOVED: python-telegram-bot ---

# Process Management
supervisor